<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!-- ============= HEAD ============= -->
<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:300,400,700&display=swap" rel="stylesheet">
<!-- ============= STYLES ============= -->
<link rel="stylesheet" href="/hoops.css">
<!-- ============= REGISTER ============= -->
<div class="bigboy">
<div class="partialhead">
      <div class="toplog">
            <nav class="loginnav">
                  <div class="topsplit">
                        <ul class="login">
                              <% if (currentUser) { %>
                                    <li id="login" class="secret">
                                          <form action="/sessions?_method=DELETE" method="POST">
                                          <input type="submit" value="Log Out" class="secret" id="logbutton2" />
                                          </form>
                                          </li>
                                    <li id="login" class="secret">Welcome <%= currentUser.username %></li>
                                    <li id="left" class="secret"><a href="/favorites">Favorites</a>
                                    </li>
                                    <li id="left" class="secret"><a href="/">Home</a>
                                    </li>
                              <% } else { %>
                                    </li>
                                    <li id="login" class="secret"><a href="/sessions/new">Log In</a>
                                    </li>
                                    <li id="login" class="secret"><a href="/users/new">Register</a>
                                    </li>
                                    <li id="login" class="secret"><a href="/">Home</a>
                              <% } %>
                        </ul>
                  </div>
                  </nav>
      </div>
</div>
      <div class="topformdiv">
      <form action="/search" method="GET" class="topform">
            <input class="input" type="text" placeholder="Search a Player or Team" name="name" id="topsearchbox">

            <button class="navsearch" type="submit" value="Search">
            <i class='fas fa-basketball-ball' id="bballbuttontop" style='font-size:24px'></i>
            </button>
      </form>
      </div>
      <div class="intopper">
            <h1 class="opencourtIndex">openCourt</h1>
            <h2 class="opencourtIndex">NBA Stats and History</h2>
      </div>
      <div class="topper">
            <nav class="topnav">
                  <ul class="topmenu">
                        <li id="teams" class="navmenu"><a href="/teams">Teams</a>
                        </li>
                        <li id="players" class="navmenu"><a href="/players">Players</a>
                        </li>
                        <li id="comp" class="navmenu"><a href="/compare">Player Comparisons</a>
                        </li>
                  </ul>
            </nav>
      </div>
</div>      
<!-- ============= FOOTER ============= -->


