<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- ============= HEAD ============= -->
<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:300,400,700&display=swap" rel="stylesheet">
<!-- ============= STYLES ============= -->
<link rel="stylesheet" href="/hoops.css">
<!-- ============= REGISTER ============= -->
<div class="partialhead">
      <div class="toplog">
            <nav class="loginnav">
                  <ul class="login">
                        <li id="login" class="secret"><a href="/sessions/new">Log In</a>
                        </li>
                        <li id="login" class="secret"><a href="/users/new">Register</a>
                        </li>
                  </ul>
            </nav>
      </div>
      <br>
      <div class="intopper">
            <h1>Open Court</h1>
            Basketball Stats and History
      </div>
      <!-- <div class="topper">
            <nav class="topnav">
                  <ul class="topmenu">
                        <li id="teams" class="navmenu"><a href="/teams">Teams</a>
                        </li>
                        <li id="players" class="navmenu"><a href="/players">Players</a>
                        </li>
                        <li id="comp" class="navmenu"><a href="/compare">Player Comparisons</a>
                        </li>
                  </ul>
            </nav>
      </div> -->
</div>
<h2 class="partial"></h2>
<h2 class="partial2"></h2>
<!-- ============= FOOTER ============= -->


