<!DOCTYPE html>
<html lang="en">
<head>
      <%- include ('../partials/p_head.ejs') %>
      <title>Player Comparisons</title>
</head>
<body>
      <header>
            <div class="topper">
                  <div class="intopper">
                        <h1>Open Court</h1>
                        Basketball Stats and History
                  </div>
                  <nav class="topnav">
                        <ul class="topmenu">
                              <li id="home" class="navmenu"><a href="/">Home</a>
                              </li>
                              <li id="teams" class="navmenu"><a href="/teams">Teams</a>
                              </li>
                              <li id="players" class="navmenu"><a href="/players">Players</a>
                              </li>
                        </ul>
                  </nav>
            </div>
      </header>
      <h1>Compare Two Players</h1>
      <div class="search">
            <form class="searchbar">
                  <input type="text" placeholder="Enter Player" name="search2">
                  <input type="submit" value="Search" class="searchbutton"></input>
            </form>
      </div>
      <!-- <div class="bottomnav">
            <br>
            <button><a href="/players"> Change Players Comparison</a></button>
            <br>
            <button><a href="/">Back To Hoops</a></button>
      </div> -->
</body>
</html>