<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Player Comparisons</title>
</head>
<body>
      <h1>Compare Two Players</h1>
      <a href="/players"> Change Players Comparisson</a>
      <a href="/">Back To Hoops</a>
</body>
</html>