<!DOCTYPE html>
<html lang="en">
<head>
      <%- include ('../partials/p_head.ejs') %>
      <title>Player Comparisons</title>
</head>
<body>
      <header>
            
      </header>
      <h1>Compare Two Players</h1>
      <div class="search">
            <form class="searchbar">
                  <input type="text" placeholder="Enter Player" name="search2">
                  <input type="submit" value="Search" class="searchbutton"></input>
            </form>
      </div>
</body>
</html>