<!DOCTYPE html>
<html lang="en">
<head>
      <%- include ('../partials/p_head.ejs') %>
      <title>Player Comparisons</title>
</head>
<body>
      <h1>Compare Players</h1>
      <div class="search">
            <input action="search" class="input" type="text" placeholder="Search players to" name="name">
            <br>
            <br>
            <div class="searchbutton" type="submit" value="Search">
                  <a href="/search"><i class='fas fa-basketball-ball' id="bballbutton" style='font-size:36px'></i>
                  </div>
      </div>
</body>
</html>