<!DOCTYPE html>
<html lang="en">
<head>
      <%- include ('../partials/p_head.ejs') %> 
      <title>Home</title>
</head>
<body>
      <header>
            <%- include ('../partials/nav.ejs') %>
      </header>
      <h1>Search For A Player</h1>
      <div class="search">
            <form class="searchbar">
                  <input type="text" placeholder="Enter Player or Team" name="search2">
                  <input type="submit" value="Search" class="searchbutton"></input>
            </form>
      </div>
      <footer class="footer"></footer>
</body>
</html>