<!DOCTYPE html>
<html lang="en">
<head>
      <%- include ('../partials/p_head.ejs') %> 
      <title>Home</title>
</head>
<body class="index">
      <header>
            <%- include ('../partials/nav.ejs') %>
      </header>
      <h1>Search For A Player</h1>
      <div class="search">
            <form action="/search" method="GET">
            <input class="input" type="text" placeholder="Search a Player or Team" name="name" id="searchbox">
            
            <button class="searchbutton" type="submit" value="Search">
                  <i class='fas fa-basketball-ball' id="bballbutton" style='font-size:36px'></i>
            </button>
            </form>
      </div>
      <footer class="footer"></footer>
      <div></div>
</body>
</html>