<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
</head>
<body>
      <h1>Welcome to Hoops</h1>
      <a href="/teams" >Every NBA Team</a>
      <a href="/players" >Every NBA Player</a>
      <a href="/compare" >Compare NBA Players</a>
</body>
</html>