<!DOCTYPE html>
<html lang="en">
<head>
      <%- include ('../partials/p_head.ejs') %>
      <title>Home</title>
</head>
<body>
      <header>
            <div class="topper">
                  <nav class="topnav">
                        <ul class="topmenu">
                              <li id="teams" class="navmenu"><a href="/teams">Teams</a>
                              </li>
                              <li id="players" class="navmenu"><a href="/players">Players</a>
                              </li>
                              <li id="comp" class="navmenu"><a href="/compare">Player Comparisons</a>
                              </li>
                        </ul>
                  </nav>
            </div>
            <br>
      </header>
      <h1>Search For A Player</h1>
      <div class="search">
            <form class="searchbar">
                  <input type="text" placeholder="Enter Player or Team" name="search2">
                  <input type="submit" value="Search" class="searchbutton"></input>
            </form>
      </div>
      <!-- <div class="bottomnav">
            <button><a href="/teams" >Every NBA Team</a></button>
            <br>
            <button><a href="/players">Every NBA Player</a></button>
            <br>
            <button><a href="/compare" >Compare NBA Players</a></button>
      </div> -->
      <footer class="footer"></footer>
</body>
<nav>
      <%- include ('../partials/nav.ejs') %>
</nav>
</html>