<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Player Chosen</title>
</head>
<body>
      <h1>This is where your player comes up</h1>
      <a href="/new"> Return to Players</a>
</body>
</html>