<!DOCTYPE html>
<html lang="en">
<head>
      <%- include ('../partials/p_head.ejs') %>
      <title>Favorites Page</title>
</head>
<body>
      <h1>Favorites</h1>
      <div class="container">
            <div class="teamdiv" id="leftside">
                  <h2>Favorite Teams</h2>
            </div>
            <div class="playerdiv" id="leftside">
                  <h2>Favorite Players</h2>
            </div>
      </div>
</body>
</html>