.bottomnav{
      display: flex;
      justify-content: center;
      color: whitesmoke;

} 

body{
      background-color: #3e695be8;
      color: rgba(245, 245, 245, 0.884);
      border: thin whitesmoke;
}

.search{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

#bballbutton{
      color: salmon;
} 

#bballbutton:hover{
      color: rgba(250, 128, 114, 0.685);
}

#bballbutton:link{
      color: salmon;
}

#bballbutton:visited{
      color: salmon;
}

.input{
      border: 3px solid salmon;
      height: 50px;
      width: 400px;
      border-radius: 50px;
      padding: 0px, 11px;
}

#left{
      align-items: left;
}

.submit{
      display: flex;
      justify-content: center;
}

.searchbutton{
      position: absolute;
      text-align: center;
      top: 150%;
      left: 50%;
      transform: translate(-40%, -40%);
      background-color: transparent;
      border: none;
}

.topformdiv{
      background-image: linear-gradient(rgb(248, 166, 133), rgb(250, 124, 110));
      border-radius: 50px;
      padding: 0px, 5px;
}

.navsearch{
      border: none;
      margin-left: -10px;
      background-color: transparent;
}

#bballbuttontop{
      color: #3e695be8;
      padding-left: -20px;
      
}

#bballbuttontop:hover{
      color: #3e6955b0;
}


#topsearchbox.input{
      height: 35px;
      width: 200px;
      margin-left: 10px;
      margin-bottom: 15px;
} 


button{
      display: inline-block;
      margin: .5%;
      text-align: center;
      border-radius:10%;
      cursor: pointer;
      padding: 10px, 10px;
      font-size: 12px;
      width: 75px;
      height: 50px;
      text-decoration: black;
}

.intopper{
      text-align: center;
      background-image: linear-gradient(rgba(240, 225, 224, 0.952), rgba(204, 204, 204, 0.856));
      border-radius: 50px;
      padding: 0px, 5px;
      
}

.navmenu{
      display: inline-block;
      text-align: left; 
      cursor: pointer;
      font-size: 15px;
      margin:1%;
      text-decoration: none;
}
.navmenu a:link{
      color:whitesmoke;
      font-size: 15px;
} 
.navmenu a:visited{
      color:whitesmoke;
      font-size: 15px;
} 

.navmenu a:link{
      color:whitesmoke;
      font-size: 15px;
} 

.navmenu a:hover{
      color:whitesmoke;
      font-size: 16px;
      background-color:#3e695bcb;
} 

.partialhead{
      background-color: white;
}

.intopper{
      background-color: #ba9077;
      color:whitesmoke;

}

.topper{
      background-image: linear-gradient(rgb(248, 166, 133), rgb(250, 124, 110));
      color: whitesmoke;
      border-radius: 50px;
      padding: 0px, 5px;
}

h1{
      text-align: center;
}
h2{
      text-align: center;
}

.allteams {
      display: flex;
      justify-content: center;
      margin: 10%;
}

#west {
      background-image: linear-gradient(rgb(211, 191, 189), rgb(248, 166, 133));;
      border: thin #3e695be8;
      text-align: center;
      border-radius: 10px;
      padding: 0px, 11px;
      width: 20%;
}

#east {
      background-image: linear-gradient(rgb(211, 191, 189), rgb(248, 166, 133));
      text-align: center;
      border-radius: 10px;
      padding: 0px, 11px;
      width: 20%;
}

.secret{
      display: inline-flex;
      flex-wrap: wrap;
      float: right;
      cursor: pointer;
      font-size: 15px;
      margin:1%;
      color: whitesmoke;
}

.secret a:link{
      color:whitesmoke;
      font-size: 15px;
} 
.secret a:visited{
      color:whitesmoke;
      font-size: 15px;
} 

.secret a:link{
      color:whitesmoke;
      font-size: 15px;
} 

.secret a:hover{
      color:whitesmoke;
      font-size: 16px;
      background-color:rgba(250, 128, 114, 0.76);
} 

.toplog{
      background-color: salmon;
}

.container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content:space-around;
}

.Sign-in{
      background-color:  #bcd5d1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-image: radial-gradient(rgb(236, 178, 173), rgb(190, 190, 190));
      border-radius: 10%;
      border: 2px silver;
      box-shadow: 3px 4px silver;
      color: whitesmoke;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.playerdiv{
      border: thin, palegoldenrod;
      width: 40%;
}

.teamdiv{
      border: thin #84ada0fb;
      width: 40%;
}

.opencourtIndex{
      display: flex;
      flex-direction: column;
      justify-content: center;
}

#logbutton{
      background-image: radial-gradient(rgb(243, 118, 104), rgb(250, 159, 124));
      border: solid #3e695bcb;
      border-radius: 10px;
      height: 35px;
      width: 70px;
      color: whitesmoke;

}

#logbutton:hover{
      background-image: radial-gradient(rgb(248, 166, 133), rgb(250, 124, 110));
      height: 40px;
      width: 75px;
}

#logbutton2{
      background-image: radial-gradient(rgb(243, 118, 104), rgb(250, 159, 124));
      border: solid #3e695bcb;
      border-radius: 10px;
      height: 22px;
      width: 70px;
      color: whitesmoke;
      font-size: 13px;
}

#logbutton2:hover{
      background-image: radial-gradient(rgb(248, 166, 133), rgb(250, 124, 110));
      height: 25px;
      width: 72px;
}

#searchbox{
      background-color: rgba(245, 245, 245, 0.877);
}

#table{
      width: 100%;
}

tbody{
      background-image: linear-gradient(rgb(248, 166, 133), rgb(250, 124, 110));
}

#favebutton{
      border-radius: 5%;
      border: none;
      cursor: pointer;
}

.commentSection{
      border-radius: 10px;
      
}

.commentbox{
      position: absolute;
      text-align: center;
      top: 80%;
      left: 40%;
      transform: translate(-50%, -50%);
      
}

.table{
      border-radius: 20%;
      width: 200%;
}

#comment{
      height:80%;
      width:80%;
      font-size: 12pt;
}

