.bottomnav{
      display: flex;
      justify-content: center;

} 

.searchbar{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

.searchbar input {
      width: 100%;
      height:50px;
      border-radius: 10px;
      height: 50px;
}

#left{
      align-items: left;
}

.submit{
      display: flex;
      justify-content: center;
}

.searchbutton{
      background-color: #5a5c51
}


button{
      display: inline-block;
      margin: .5%;
      text-align: center;
      border-radius:10%;
      cursor: pointer;
      padding: 10px, 10px;
      font-size: 12px;
      width: 75px;
      height: 50px;
      text-decoration: black;
}

.intopper{
      text-align: center;
      background-image: radial-gradient(rgb(150, 146, 146), rgb(223, 223, 223));
}

.navmenu{
      display: inline-block;
      text-align: left; 
      cursor: pointer;
      font-size: 15px;
      margin:1%;
}
.partialhead{
      background-color: #ba9077;
}

.intopper{
      background-color: #ba9077;

}

.topper{
      background-color: #5a5c51;
}

h1{
      text-align: center;
}

.allteams {
      display: flex;
      justify-content: center;
      margin: 10%;
}

#west {
      background-color: #5a5c51;
}

#east {
      background-color: #bcd5d1;
}

.secret{
      display: inline-flex;
      flex-wrap: wrap;
      float: right;
      cursor: pointer;
      font-size: 15px;
      margin:1%;
}

.toplog{
      background-color: darkslategray;
}

.container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content:space-between;
}

.Sign-in{
      background-color:  #bcd5d1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-image: radial-gradient(#ba9077, #755c4d);
      border-radius: 10%;
      border: 2px silver;
      box-shadow: 3px 4px silver;
}