.bottomnav{
      display: flex;
      justify-content: center;
      color: whitesmoke;

} 

body{
      background-color: #3e695b;
}

.search{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

#bballbutton{
      color: salmon;
} 

#bballbutton:hover{
      color: rgba(250, 128, 114, 0.685);
}

#bballbutton:link{
      color: salmon;
}

#bballbutton:visited{
      color: salmon;
}

.input{
      border: 3px solid salmon;
      height: 50px;
      width: 400px;
      border-radius: 50px;
      padding: 0px, 11px;
}

#left{
      align-items: left;
}

.submit{
      display: flex;
      justify-content: center;
}

.searchbutton{
      display: flex;
      justify-content: center;
}


button{
      display: inline-block;
      margin: .5%;
      text-align: center;
      border-radius:10%;
      cursor: pointer;
      padding: 10px, 10px;
      font-size: 12px;
      width: 75px;
      height: 50px;
      text-decoration: black;
}

.intopper{
      text-align: center;
      background-image: radial-gradient(rgb(233, 198, 195), rgb(190, 190, 190));
      border-radius: 50px;
      padding: 0px, 5px;
      
}

.navmenu{
      display: inline-block;
      text-align: left; 
      cursor: pointer;
      font-size: 15px;
      margin:1%;
      text-decoration: none;
}
li:link{
      color:whitesmoke;
} 

li:hover{
      color: rgba(250, 128, 114, 0.685);
}

.navmenu:link{
      color:whitesmoke;
}

.navmenu:visited{
      color:whitesmoke;
}

.partialhead{
      background-color: #ba9077;
}

.intopper{
      background-color: #ba9077;
      color:whitesmoke;

}

.topper{
      background-color: salmon;
      color: whitesmoke;
      
}

h1{
      text-align: center;
}

.allteams {
      display: flex;
      justify-content: center;
      margin: 10%;
}

#west {
      background-image: linear-gradient( rgb(211, 191, 189), rgb(184, 95, 87));
      text-align: center;
      border-radius: 5px;
      padding: 0px, 11px;
}

#east {
      background-image: linear-gradient( rgb(184, 95, 87),  rgb(211, 191, 189));
      text-align: center;
      border-radius: 5px;
      padding: 0px, 11px;
}

.secret{
      display: inline-flex;
      flex-wrap: wrap;
      float: right;
      cursor: pointer;
      font-size: 15px;
      margin:1%;
      color: whitesmoke;
}

.toplog{
      background-color: salmon;
}

.container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content:space-around;
}

.Sign-in{
      background-color:  #bcd5d1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-image: radial-gradient(#ba9077, #755c4d);
      border-radius: 10%;
      border: 2px silver;
      box-shadow: 3px 4px silver;
}

.playerdiv{
      border: solid black;
}

.teamdiv{
      border: solid black;
}